header {
    padding-bottom: 10px;
 }

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.gradient-background {
  background: linear-gradient(300deg,#178f4d,#37c3a2,#25464c);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
h1 {
font-size:2.5rem;

}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
    background-color:#2d3339;
    background-repeat: no-repeat;
    background-position: absolute;
    font-family:"Pixelify Sans", sans-serif;
    color: white; 
    text-align: center;
}
  

a {
    text-decoration: none;
    color: white;
}

.dot {
    font-size: 24px;
    display: inline;
}

.visit {
    font-family:OnestBold;
    display: inline;
}

.video-web
{
    
      width:720px;
    height:404px;
}
  
  @keyframes smooth-appear {
    to{
      bottom: 20px;
      opacity:1;
    }
  }
